body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: #ff7f30; /* Cor de fundo laranja */
    color: #fff;
    box-sizing: border-box;
}

/* Estilização da logo */
.logo {
    width: 120px; /* Define o tamanho da logo para 120px */
    height: 120px; /* Mantém a altura da logo para garantir o aspecto de 120px */
    position: absolute;
    top: 5px; /* Posiciona a logo no topo */
    left: 20px; /* Alinha a logo no canto esquerdo */
    background-size: contain; /* Ajusta a imagem dentro do espaço */
    background-repeat: no-repeat; /* Evita repetição da imagem */
    background-position: center; /* Centraliza a imagem dentro do espaço */
    z-index: 1;
}

/* Estilização dos botões na parte superior */
.buttons {
    position: absolute;
    top: 25px; /* Posiciona os botões na parte superior */
    left: 50%;
    transform: translateX(-50%); /* Centraliza os botões horizontalmente */
    display: flex;
    justify-content: center; /* Centraliza os botões */
    gap: 30px; /* Espaçamento entre os botões */
    flex-wrap: nowrap; /* Garante que os botões não quebrem para a linha de baixo */
}

.buttons button {
    background: #000; /* Cor dos botões ajustada para preto */
    border: none;
    padding: 12px 30px;
    font-size: 14px; /* Ajustado para 14px */
    cursor: pointer;
    transition: all 0.3s ease; /* Transição suave para todas as propriedades */
    border-radius: 25px;
    color: #fff; /* Cor do texto dos botões */
    white-space: nowrap; /* Impede a quebra de linha do texto */
    width: auto; /* Ajusta a largura do botão conforme o texto */
    min-width: 120px; /* Define uma largura mínima para o botão */
    text-align: center; /* Centraliza o texto dentro do botão */
}

.buttons button:hover {
    background: #fff; /* Cor de fundo dos botões ao passar o cursor */
    color: #000; /* Cor do texto dos botões ao passar o cursor */
    transform: scale(1.1);
}

/* Estiliza o conteúdo principal */
main {
    padding: 20px;
}

/* Centraliza o texto "Campanhas Eleitorais" na página */
.centralizado {
    text-align: center;
    margin-top: 50px; /* Ajuste para criar espaço acima do conteúdo */
}

.centralizado h1 {
    font-size: 36px; /* Ajuste o tamanho da fonte conforme necessário */
    margin: 0;
}

/* Estilização das seções */
section {
    margin-bottom: 40px; /* Espaço entre as seções */
}

/* Estilização do rodapé */
.footer {
    position: relative;
    top: 100px; /* Posiciona a logo no topo */
    bottom: 0;
    left: 100%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
    padding: 10px;
    font-size: 10px;
    color: #fff; /* Cor do texto do rodapé */
    background: #000; /* Cor de fundo do rodapé */
    box-sizing: border-box;
}

.footer a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.footer a:hover {
    text-decoration: underline;
}
